<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="board">
      <h1><%= title %></h1>

      <div class="details-container">
        <div class="message">
          <h3 class="user"><%= messages[id].user %>' message</h3>
          <p><b>Text</b>: <%= messages[id].text %></p>
          <div class="date">
            <i>Posted on</i>: <%= messages[id].added.toLocaleString() %>
          </div>

          <div class="back"><a href="/">Back to Messages</a></div>
        </div>
      </div>
    </div>
  </body>
</html>
